<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{ /layout/layout :: layout(~{ ::content },_) }">
    <head>
        <meta charset="UTF-8">
        <title>Brand Product</title>
    </head>
    <body>

        <div th:replace="~{ fragments/fragments :: header }"></div>

            <th:block th:fragment="content">
                <!--        Ici, <strong> permet de tester mon html sans relancer le serveur -->
                <h2 th:utext="| Brand List: <strong>${brand}</strong> (${ brand_list.size }) |">
                    Brand: <strong>My brand</strong>
                </h2>

                <p><a href="/product">Back to main list</a></p>

                <ul>
                    <li th:each="product : ${ brand_list }" th:object="${ product }">
                        <p th:text="| Brand: *{ brand } |">Brand: My brand</p>
                        <p th:text="| Model: *{ model } |">Model: My model</p>
                        <p th:text="| Price: *{ price } EUR |">Price: 1000.0 EUR</p>
                    </li>
                </ul>
            </th:block>

        <div th:replace="~{ fragments/fragments :: footer }"></div>

    </body>
</html>