<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>

    <!-- Utiliser th:replace pour remplacer la div par le fragment (ici le h1) -->
    <!-- Utiliser th:insert pour remplacer la div par le fragment (ici le h1) -->
    <div th:insert="~{ fragments :: header }">
    </div>

    <div th:replace="~{ fragments :: #shopping_card }"></div>
    <h2 th:text="| Product List (${ product_list.size }) |"></h2>

    <!-- th:each boucle sur les éléments d'une liste -->
    <!-- FOCUS = th:object => Utiliser ceci et l'astérisque *{...} pour ne plus avoir à faire product.brand, product.model, etc. -->
    <ul>
        <li th:each="product : ${ product_list }" th:object="${ product }">
            <p th:text="| Brand: *{ brand } |"></p>
            <p th:text="| Model: *{ model } |"></p>
            <p th:text="| Price: *{ price } |"></p>
    <!--        @{...} permet de passer des paramètres / donner + d'infos dans le lien -->
            <p><a th:href="| @{ /product/{id}(id=*{ id }, param1='param1') } |">Details</a></p>
    <!--        <p><a th:href="@{/product/${ product.id }}() |">Details</a></p>-->
        </li>
    </ul>

    <div th:insert="~{ fragments :: footer }">
    </div>

</body>
</html>